.App {
  position: relative;
  top: 250px;
  text-align: center;
}

.App-header { 
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.LINE_Button {
  background-color: #00c300;
  width: 200px;
  height: 88px;
  font-size: 30px;
  color: white;
  border: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.LINE_Button:hover{
  background-color: #00E000; 
}
.LINE_Button:active{
  background-color: #00B300;
}

.LINE-Base-logo{
  background-color: #00c300;
  float: left;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: solid 1px #ffffff;
}
.App-link {
  color: #61dafb;
}

