
.Animationarea{
  position: absolute;
  display: flex;
  top: 60px;
}

.comment{
  width: 30vw;
  height: 450px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: 700;
  line-height: 50px;
  border: solid 1px #ffffff;
}

.bg {
  width: 70vw;
  height: 450px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}